[unix_http_server]
file=/home/DOCKER_USER/.supervisord/supervisord.sock
chmod=0700



[supervisord]
nodaemon=true
user=DOCKER_USER
logfile=/home/DOCKER_USER/.supervisord/log/supervisord.log
pidfile=/home/DOCKER_USER/.supervisord/run/supervisord.pid



[program:tavla_api]
command=/home/DOCKER_USER/app/target/release/tavla_api
user=DOCKER_USER

#stdout_logfile=/dev/stdout
stdout_logfile=/home/DOCKER_USER/app/logs/tavla_api.log
stdout_logfile_maxbytes=0

#stderr_logfile=/dev/stderr
stderr_logfile=/home/DOCKER_USER/app/logs/tavla_api.log
stderr_logfile_maxbytes=0
directory=/home/DOCKER_USER/app



[program:tavla_api_sender]
command=/home/DOCKER_USER/app/target/release/tavla_api_sender
user=DOCKER_USER

#stdout_logfile=/dev/stdout
stdout_logfile=/home/DOCKER_USER/app/logs/tavla_api_sender.log
stdout_logfile_maxbytes=0

#stderr_logfile=/dev/stderr
stderr_logfile=/home/DOCKER_USER/app/logs/tavla_api_sender.log
stderr_logfile_maxbytes=0

directory=/home/DOCKER_USER/app



[program:tavla_api_report]
command=/home/DOCKER_USER/app/target/release/tavla_api_report
user=DOCKER_USER

#stdout_logfile=/dev/stdout
stdout_logfile=/home/DOCKER_USER/app/logs/tavla_api_report.log
stdout_logfile_maxbytes=0

#stderr_logfile=/dev/stderr
stderr_logfile=/home/DOCKER_USER/app/logs/tavla_api_report.log
stderr_logfile_maxbytes=0

directory=/home/DOCKER_USER/app
